*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.c1{
    display: flex;
    width: 100%;
    height: 25ch;
    background-color: black;
    justify-content: space-around;
}
.c1 img{
    width: 130px;
    border: 5px solid black;
    border-radius: 50%;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 25ch;
    color: white;
}
.icon a:hover{
    color: red !important;
}
.desc{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    color: white;
}
.srh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16%;
}
.srh input{
    width: 65%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 10px;
}
#sbtn{
    padding: 3px;
    background-color: #0082f3;
    border-radius: 5px;
    color: white;
}
#c2{
    display: grid;
    width: 100%;
    padding-top: 2%;
    row-gap: 20px;
    grid-template-columns: 50% 50%;
}
#c2 a:hover{
    color: red !important;
}
.repos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
}
.repo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #e7e7e7;
}
.bio{
    font-size: small;
}
.languages{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    display: flex;
}
.lang{
    padding: 3px;
    background-color: #0082f3;
    border-radius: 5px;
    color: white;
    margin-right: 15px;
}


.pagination-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #000000cf;
    padding: 0.5% 0;
}
.pagination{
    width: 50%;
    /* border-radius: 35px; */
    /* box-shadow: 0 0 20px 5px rgb(3, 3, 43); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(15, 64, 109); */
    /* padding: 10px 10px; */
}
.select{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    color: white;
}
.select select{
    border: 2px solid black;
}
.space{
    display: flex;
    width: 25%;
    align-items: center;
}
.pagination a{
    padding: 3px 7px;
    /* font-weight: 500; */
    text-decoration: none;
    font-size: 15px;
    color: white;
    /* border-radius: 50%; */
    transition: 0.5s ease-in-out;
    border: 2px solid black;
}
#btn{
    padding: 3px;
    background-color: #0082f3;
    border-radius: 5px;
    color: white;
    margin-left: 2%;
}
.control{
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 7px;
    /* border-radius: 25px; */
    transition: 0.5s ease-in-out ;
    border: 2px solid white;
    border-radius: 25px;
}
/* .mob{
    display: none;
} */
#prevm, #nextm{
    display: none;
}
.pageNumbers{
    display: flex;
    margin: 0 2%;
    /* background-color: white; */
}
.disabled{
    border: 2px solid rgb(255 255 255 / 50%);;
    color: rgb(255 255 255 / 50%);
    cursor: default;
}
.control:not(.disabled):hover,.pageNumbers a:hover{
    background-color: #0082f3;
    color: white;
}
a.active{
    background-color: #0082f3;
    color: white;
}
.hidden{
    display: none;
}

/* Responsive */
@media only screen and (max-width:500px) {
    .c1{
        flex-direction: column;
        height: 90vh;
        align-items: center;
    }
    .icon{
        width: 100%;
    }
    .icon div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desc{
        width: 100%;
        align-items: center;
    }
    .srh{
        width: 60%;
        justify-content: space-between;
    }
    .srh input{
        width: 70%;
    }
    #c2{
        display: flex;
        flex-direction: column;
    }
    .languages{
        flex-wrap: wrap;
        align-items: center;
        height: 13vh;
    }
    .pagination-container{
        flex-direction: column;
        height: 10vh;
        background-color: black;
    }
    #prevm, #nextm{
        display: block;
        border: none;
        padding: 3px 3px;
    }
    #prev, #next{
        display: none;
    } 
    .select{
        width: 100%;
    }
    .space{
        display: none;
    }
    .pagination{
        width: 100%;
    }
    .pagination a{
        border: none;
        padding: 3px 3px;
    }
    .pageNumbers{
        margin: 0;
    }
}